/* CSS Document */

.ver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #AA0000;
	text-align: center;
}

.boton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
	text-align: center;
}
.ver3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.ve {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}
a {
	font-weight:bold;
	border-bottom-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	}
	
a:hover {
	font-size: 11px;
	color: #999999;
	}
rojo {
	color: #900;
}
rojos {
	color: #900;
	
}
.tit {
	font-size: 12px;
	color: #2A0000;
}
.tit2 {
	font-size: 12px;
	color: #A00;
}
